* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup__container {
    width: 55%;
    height: 85%;
    box-shadow: 2px 2px 4px rgba(54, 52, 52, 0.74);
    display: flex;
    flex-direction: row;
}

div.bcg__box {
    width: 60%;
    height: 100%;
    background-color: blueviolet;
}

img {
    opacity: 0.8;
}

.information__box {
    padding: 2rem 1.5rem;
    width: 35%;
}

.information__box h2 {
    margin-bottom: 2rem;
}

form {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 1.75rem;
}

._label_ {
    display: block;
    margin-bottom: 0.25rem;
    font-size: small;
    font-weight: bold;
    color: rgb(138, 138, 138);
    margin-bottom: 0.25rem;
}

.inputBox {
    width: 100%;
    height: 60%;
    border: none;
    border-bottom: 1px solid rgb(138, 138, 138);
    outline: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.473);
}

.label__terms {
    font-size: 12px;
    margin-left: 0.25rem;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgba(0, 0, 255, 0.5);
}

.signUp__box {
    display: flex;
    flex-direction: row;
}

.inp_signUp {
    width: 60%;
    height: 80%;
    margin-right: 2rem;
    font-weight: bold;
    color: white;
    background-color: rgb(214, 106, 202);
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.466);
    font-size: large;
}

.inp_signUp:hover {
    cursor: pointer;
    background-color: rgb(148, 72, 139);
}

.signIn_link {
    margin-top: 0.40rem;
}